<!DOCTYPE html>
<html lang="es">

{{> Head}}

<body>
    {{> Nav}}
    <div class="py-4 container body-page">
        <div class="contenedor">
            <h1 class="h2 titulo">Iniciar Sesión</h1>
            <hr class="w-25 m-auto mb-2">

            <form>
                <div class="form-group">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input id="user" class="form-control w-25 m-auto" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="password" type="password" class="form-control w-25 m-auto" />
                    </div>
                </div>
                <button id="lgnAdmin" class="btn btn-success mt-2">Ingresar</button>
            </form>
        </div>
    </div>
    {{> Footer}}
    {{> BodyCDN}}
</body>

</html>