<!DOCTYPE html>
<html lang="es">

{{> Head}}

<body>
  {{> Nav}}
  <div class="py-4 container body-page">
    <div class="contenedor">
    <h1 class="h2 titulo">Registro</h1>

    <hr class="w-25 m-auto mb-2">
    
      <form class="register-form" action="/skater" method="POST" enctype="multipart/form-data">
        <div class="form-group row w-50 m-auto">
          <div class="form-group col-12 col-sm-6">
            <label>Email</label>
            <input name="email" type="email" id="email" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Nombre</label>
            <input name="nombre" id="nombre" class="form-control m-auto" pattern="^[a-zA-Z\s]+" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Password</label>
            <input name="password" type="password" id="password" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Repita la password</label>
            <input name="passConfirm" type="password" id="pass-confirm" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Años de experiencia</label>
            <input name="aniosExp" id="anios-exp" class="form-control m-auto" pattern="[0-9]+"/>
          </div>
          <div class="form-group col-12 col-sm-6">
            <label>Especialidad</label>
            <input name="especialidad" id="especialidad" class="form-control m-auto" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <label>Foto de perfil</label>
            <input name="fotoPerfil" class="mt-2" id="foto-perfil" type="file" />
          </div>
        </div>
        <button class="btn btn-info mt-3">Registrarme</button>
      </form>
    </div>

  </div>
  {{> Footer}}
  {{> BodyCDN}}
</body>

</html>