<footer class="fixed-bottom bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-6 mt-2">
                <h6 id="text-footer" class="text-center text-light"><img id="nav-logo"
                            src="/assets/img/logo.png" alt="logo-img" width="30"> SKATE PARK &copy;</h6>
            </div>
            <div class="col-6 col-sm-6 logos">
                <a href="#"><img id="nav-logo" class="rs-logo" src="/assets/img/instagramLogo.png" alt="logo-img" width="25"></a>
                <a href="#"><img id="nav-logo" class="rs-logo" src="/assets/img/facebookLogo.png" alt="logo-img" width="25"></a>
                <a href="#"><img id="nav-logo" class="rs-logo" src="/assets/img/wspLogo.png" alt="logo-img" width="25"></a>
            </div>
        </div>
    </div>
</footer>