<header id="hero-section" class="container-fluid">
    <div class="text-light mt-3">
        <div class="row">
            <div class="col-12 col-sm-4">
                <h1 id="text-header" class="display-4 fw-bold text-uppercase">Bienvenido </h1>
                <p id="par-header" class="text-uppercase">Aún no tienes cuenta? <a id="btn-header" class="button ms-3" href="/registro">Registrate</a></p>
            </div>
        </div>
    </div>
</header>